<h1>Login</h1><br>
<%= form_tag ({controller: 'sessions', action: 'create', method: 'post'}) do %>
  <label>Username: </label><br>
  <%= text_field_tag :username %><br>
  <label>Password: </label><br>
  <%= password_field_tag :password %><br><br>
  <input class="btn btn-success" type=submit value='Login'>
<% end %>