<%= form_tag("/find", method: "get") do %>
  <label>Search Listings for: </label>
  <%= text_field_tag :query %>
  <input class="btn btn-success" type=submit value='Find Listing'>
<% end %>
<br>

<%= render 'listings' %>
