<%= button_to "Back to Bid", listing_bid_path(@listing, @bid), method: "get", :class => "btn btn-outline-success"  %><br>
<h1>Edit Bid for '<%= @listing.title %>'</h1>
<%= render partial: 'form', locals: {bid: @bid, url:listing_bid_path(@listing, @bid)} %>
